<!DOCTYPE html>
<html lang="pt-br" itemscope itemtype="https://schema.org/WebSite">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    {# Metas tags #}
    {% set title_seo = (title ? title ~ ' - ' ~ config('client.name') ~ '!'  : config('client.name') ~ (config('client.subname') ? ' - ' ~ config('client.subname') : '!')) %}
    {% set social = config('client.social') %}
    
    <title>{{ title_seo }}</title>
    
    <meta name="description" content="{{ description ?: config('client.description') }}"/>
    <meta name="abstract" content="{{ abstract ?: config('client.abstract') }}"/>
    <meta name="keywords" content="{{ keywords ?: config('client.keywords') }}"/>
    <meta name="robots" content="index, follow"/>
    
    <link rel="base" href="{{ constant('BASE_URL') }}"/>
    <link rel="canonical" href="{{ constant('FULL_URL') }}"/>
    
    {# Manifest #}
    {#<link rel="manifest" href="{{ asset('/manifest.json') }}"/>#}
    
    {# Fazer RSS e SiteMAP #}
    {#<link rel="alternate" type="application/rss+xml" href="{{ constant('BASE_URL') }}/rss"/>
    <link rel="sitemap" type="application/xml" href="{{ constant('BASE_URL') }}/sitemap.xml"/>#}
    
    {% if social['google']['active'] %}
      <link rel="author" href="https://plus.google.com/{{ social['google']['author'] }}/posts"/>
      
      {% if social['google']['page'] %}
        <link rel="publisher" href="https://plus.google.com/{{ social['google']['page'] }}"/>
      {% endif %}
    {% endif %}
    
    <meta itemprop="name" content="{{ title_seo }}"/>
    <meta itemprop="description" content="{{ description ?: config('client.description') }}"/>
    <meta itemprop="image" content="{{ imageUrl ?: asset(image ?: '/assets/web/images/1200x630.png', true) }}"/>
    <meta itemprop="url" content="{{ constant('FULL_URL') }}"/>
    
    <meta property="og:type" content="{{ type ?: 'article' }}"/>
    <meta property="og:title" content="{{ title_seo }}"/>
    <meta property="og:description" content="{{ description ?: config('client.description') }}"/>
    <meta property="og:image" content="{{ imageUrl ?: asset(image ?: '/assets/web/images/1200x630.png', true) }}"/>
    <meta property="og:url" content="{{ constant('FULL_URL') }}"/>
    <meta property="og:site_name" content="{{ config('client.name') }}"/>
    <meta property="og:locale" content="pt_BR"/>
    {% if social['facebook']['active'] %}
      <meta property="article:author" content="https://www.facebook.com/{{ social['facebook']['author'] }}"/>
      <meta property="article:publisher" content="https://www.facebook.com/{{ social['facebook']['page'] }}"/>
      
      {% if social['facebook']['app'] %}
        <meta property="fb:app_id" content="{{ social['facebook']['app'] }}"/>
      {% endif %}
      
      {% if social['facebook']['pageId'] %}
        <meta property="fb:pages" content="{{ social['facebook']['pageId'] }}"/>
      {% endif %}
    {% endif %}
    
    <meta property="twitter:card" content="summary_large_image"/>
    {% if social['twitter'] %}
      <meta property="twitter:site" content="@{{ social['twitter'] }}"/>
    {% endif %}
    <meta property="twitter:domain" content="{{ constant('BASE_URL') }}"/>
    <meta property="twitter:title" content="{{ title_seo }}"/>
    <meta property="twitter:description" content="{{ description ?: config('client.description') }}"/>
    <meta property="twitter:image" content="{{ imageUrl ?: asset(image ?: '/assets/web/images/1200x630.png', true) }}"/>
    <meta property="twitter:url" content="{{ constant('FULL_URL') }}"/>
    
    {# FavIcon #}
    <link rel="shortcut icon" type="image/png" href="{{ asset('/assets/web/images/24x24.png', true) }}">
    
    {# stylesheets #}
    <style>{{ asset_source('/assets/web/app.css') }}</style>
    {% block style %}{% endblock %}
    
    <!--[if lt IE 9]
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    {# Content #}
    {% block content %}{% endblock %}
    
    {# Scripts #}
    <script>{{ asset_source('/assets/web/app.js') }}</script>
    {% block script %}{% endblock %}
  </body>
</html>
